* {
    padding: 0;
    margin: 0;
}


#coord1 {
    background-color: greenyellow;
}

#coord2 {
    background-color: lightblue;
}

#input {
    background-color: aqua;
}

img {
    width: 100%;
}

#shape {
    width: 100%;
    height: 100%;
}